@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <base href="/">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-controller="masterCtrl">
    <div id="page-wrapper" ng-class="{'open': toggle=='true'?true:false}" ng-cloak>

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar">
                <li class="sidebar-main">
                    <a ng-click="toggleSidebar()">
                        Dashboard
                        <span class="menu-icon glyphicon glyphicon-transfer"></span>
                    </a>
                </li>
                <li class="sidebar-title"><span>NAVIGATION</span></li>
                <li class="sidebar-list">
                    <a href="#">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
                </li>
                <li class="sidebar-list">
                    <a ui-sref="code.home">Code <span class="menu-icon fa fa-table"></span></a>
                </li>
            </ul>
            <div class="sidebar-footer">
                <div class="col-xs-4">
                    <a href="https://github.com/rdash/rdash-angular" target="_blank">
                        Github
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="https://github.com/rdash/rdash-angular/blob/master/README.md" target="_blank">
                        About
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="#">
                        Support
                    </a>
                </div>
            </div>
        </div>
        <!-- End Sidebar -->

        <div id="content-wrapper">
            <div class="page-content">

                <!-- Header Bar -->
                <div class="row header">
                    <div class="col-xs-12">
                        <div class="user pull-right">
                            <div class="item dropdown" uib-dropdown>
                                <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                                    <img src="img/avatar.jpg">
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-header">
                                        Joe Bloggs
                                    </li>
                                    <li class="divider"></li>
                                    <li class="link">
                                        <a href="#">
                                            Profile
                                        </a>
                                    </li>
                                    <li class="link">
                                        <a href="#">
                                            Menu Item
                                        </a>
                                    </li>
                                    <li class="link">
                                        <a href="#">
                                            Menu Item
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="link">
                                        <a href="#">
                                            Logout
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="item dropdown" uib-dropdown>
                                <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                                    <i class="fa fa-bell-o"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-header">
                                        Notifications
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#">Server Down!</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="meta">
                            <div class="page">
                                {{pageTitle}}
                            </div>
                            <div class="breadcrumb-links">
                                Home / {{pageSubTitle}}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Header Bar -->
                <!-- Main Content -->
 
                <div ui-view></div>

            </div><!-- End Page Content -->
        </div><!-- End Content Wrapper -->
    </div><!-- End Page Wrapper -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")

    <script src="~/App/masterCtrl.js"></script>
    <script src="~/App/Home/ngCtrl/homeCtrl.js"></script>
    <script src="~/App/Codes/ngService/codeServie.js"></script>
    <script src="~/App/Codes/ngCtrl/codeRootCtrl.js"></script>
    <script src="~/App/Codes/ngCtrl/codeHomeCtrl.js"></script>
    <script src="~/App/Codes/ngCtrl/codeEdit.js"></script>
    <script src="~/App/Derectives/widget.js"></script>
    <script src="~/App/Derectives/widget-header.js"></script>
    <script src="~/App/Derectives/widget-footer.js"></script>
    <script src="~/App/Derectives/widget-body.js"></script>
    <script src="~/App/Derectives/loading.js"></script>
</body>
</html>














